 .header-container{
    margin-top: 150px;
    width:100%;
  
 }
 .header-box{
   width:100%;
   height: 100px;
   display: flex;
   justify-content: space-evenly;
   margin-top: 30px;
    
 }
 .hero-left-div{
    
    width: 400px;
 }
 .hero-right-div{ 
  margin-left: 150px;
  margin-bottom: 200px;
 }
  
 .profile{
    border-radius: 50%;
     border: 2px solid rgb(5, 241, 5);
     cursor: pointer;
    margin-bottom: 200px;
 }
 
 .title1{
    color: white;
    margin-bottom: 12px;

 }
 .title2{
    color:#00FF40;
    margin-bottom: 12px;

 }
 .para{
   font-size: 12px;
   color: white;
   margin-top: 20px;
 }
 .btn{
     width: 80px;
     height: 28px;
     border: 2px solid rgb(0, 0, 0);
     border-radius: 8px;
     margin-top: 60px;
     background:rgb(238, 255, 0);
     text-align: center;
     font-weight: 800;
     transition: 0.2s;
     
       
    }

  
 .btn:hover{
   background:   rgb(247, 0, 255);
   cursor:pointer;
   border: 2px solid white;
   font-weight: 900;
   box-shadow: 0 0 18px 8px rgb(255, 136, 0) ;
 }
 @media screen  and (min-width:100px) and (max-width:750px){
   .header-container{
      margin-top: 10px;
      width: 100%;
      height: 300px;
        
      
   }
   .header-box{
      width: 100%;
      height: 550px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 30px;
      
    }
    .hero-right-div{ 
       
      margin-bottom: 600px;
      width: 200px;
      height: 200px;
      margin-top: 40px;
      margin-left: 8px;
   
     }
     .profile{
      border-radius: 50%;
      border: 2px solid greenyellow;
      width: 200px;
      height: 200px;
      cursor: pointer;
     
   
   }
    
   .hero-left-div{
    
      width: 400px;
      height: 400px;
      justify-content: center;
      align-items: center;
      margin-top: 450px;
   }
   .title1{
       
      width: 300px;
      margin-left: 40px;
      color: white;
      margin-bottom: 12px;
      font-size: 25px;
      margin-top: 30px;
   }
   .title2{
      width: 300px;

      margin-left: 40px;
      color:#00FF40;
      margin-bottom: 12px;
      font-size: 25px;
   }
   .para{
      text-align: center;
     width: 300px;
     color: white;
     margin-top: 30px;
     font-size: 12px;
     text-decoration: none;
     margin-left: 30px;
   }
   .btn{
       width: 70px;
       height: 30px;
       margin-top: 15px;
       margin-left: 40px;
       background:rgb(238, 255, 0);
       text-align: center;
       font-weight: 600;
       transition: 0.2s;
       margin-bottom: 30px;
         
      }
 }  