/* Skills Container */
.skills-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: rgb(15, 15, 15);
   color: #fff;
   padding: 3rem 1rem;
   min-height: 100vh;
 }
 
 /* Skills Heading */
 .skills-heading {

   font-size: 6rem;
   font-weight: bold;
   margin-bottom: 9rem;
   margin-top: 6rem;
 }
 
 /* Skills Timeline */
 .skills-timeline {
   
   position: relative;
   display: flex;
   flex-direction: column;
   gap: 8rem;
   align-items: center;
   width: 100%;
   height: auto;
 }
 
 /* Vertical Line */
 .skills-vertical-line {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 8px;
   height: 100%;
   box-shadow: 0 0 4px 1px #f59338;
   background-color: #f59338;
   z-index: 0;
 }
 
 /* Skills Card */
 .skills-card {
   position: relative;
   background-color: #000;
   border: 2px solid #f59338;
   border-radius: 8px;
   padding: 2rem;
   text-align: center;
   max-width: 750px;
   height: 300px;
   z-index: 1;
   transition: border-color 0.3s ease-in-out, transform 0.3s ease-in-out;
 }
 
 .skills-card:hover {
    box-shadow: 0 0 16px 8px #f59338;
   transform: scale(1.05);
 }
 
 /* Icon */
 .skills-icon {
   position: absolute;
   top: -85px;
   left: 50%;
   transform: translateX(-50%);
   width: 50px;
   height: 50px;
   background-color: black;
   color: white;
   border: 2px solid #f59338;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-weight: bold;
   font-size: 1.2rem;
 }
 .skills-icon:hover{
  background-color: #f59338;
  color: black;
  border: 2px solid black;
  box-shadow: 0 0 5px 1px #f59338;
  font-weight: bold;
 }
 
 /* Title */
 .skills-title {
   font-size: 1.8rem;
   font-weight: bold;
   margin: 1.5rem 0;
   color: #fff;
   justify-content: center;
   align-items: center;
   margin-top: 4rem;
 }
 
 /* Description */
 .skills-description {
   font-size: 1rem;
   justify-content: center;
   align-items: center;
   color: #ccc;
   line-height: 1.6;
 }
 
 /* Responsive Design */
 @media (max-width: 768px) {
   .skills-container {
     padding: 1rem;
   }
 
   .skills-heading {
     font-size: 4rem;
   }
 
   .skills-card {
     max-width: 90%;
   }
 
   .skills-vertical-line {
     left: 50%;
   }
 }
 
 @media (max-width: 480px) {
   .skills-title {
     font-size: 1.5rem;
   }
 
   .skills-description {
     font-size: 0.9rem;
   }
 
   .skills-icon {
     width: 40px;
     height: 40px;
     font-size: 1rem;
   }
 }
 